@import "global.scss";
@import "typography.module.scss";

// .text {
//     color: white;
//     text-align: left;
// }

// .subText {
//     font-stretch: normal;
//     font-style: normal;
//     line-height: 1.5;
//     letter-spacing: normal;
//     font-size: $font-small--size;
// }

// .itemClass {
//     width: 100% !important;
// }

// .carSliderContainer {
//     position: relative;
//     margin-top: 56px;

//     .titleContainer {
//         max-width: 600px;

//         .title {
//             font-family: Raleway;
//             font-size: 40px;
//             font-weight: 800;
//             font-stretch: normal;
//             font-style: normal;
//             line-height: 1.2;
//             letter-spacing: normal;
//             text-align: left;
//             color: #fff;
//         }
//     }

//     .caption {
//         font-family: Montserrat;
//         font-size: 14px;
//         font-weight: 500;
//         font-stretch: normal;
//         font-style: normal;
//         line-height: 1.5;
//         letter-spacing: normal;
//         text-align: left;
//         color: #fff;
//     }

//     .rating {
//         .ratingContent {
//             padding-left: 100px;
//             padding-top: 0;
//         }

//         .ratingHeader {
//             padding-bottom: 0;
//         }

//         color: white;
//         width: 383px;
//         background-color: $graphite-dark;
//         display: inline-flex;
//         flex-direction: column;

//         .value {
//             text-align: left;
//         }

//         .content {
//             font-family: Montserrat;
//             font-size: 14px;
//             font-weight: 500;
//             font-stretch: normal;
//             font-style: normal;
//             line-height: 1.5;
//             letter-spacing: normal;
//             text-align: left;
//             color: #fff;
//         }

//         .subContent {
//             font-family: Montserrat;
//             font-size: 14px;
//             font-weight: bold;
//             font-stretch: normal;
//             font-style: normal;
//             line-height: 1.5;
//             letter-spacing: normal;
//             text-align: left;
//             color: #fff;

//         }
//     }

//     .tripAdvisor {
//         background-color: transparent;
//         color: white;
//         font-weight: bold;
//         height: 80px;
//         box-shadow: none;

//         p {
//             font-weight: bold;
//             @extend .text !optional;
//             @extend .subText !optional;
//         }
//     }

//     .avatar {
//         position: relative;
//         display: flow-root;
//         margin-left: 20px;
//         margin-top: 15px;
//     }

//     .ratingBox {
//         display: block;
//         float: left;
//         margin-top: 25px;
//     }

//     .tripBox {
//         display: block;
//         float: right;
//         max-width: 268px;
//         max-height: 53px;
//         margin-right: 260px;
//         margin-top: 25px;
//     }

//     .carSliderImage {
//         position: fixed !important;
//     }
// }

// .carouselDots {
//     width: 10px;
//     height: 10px;
//     border-radius: 20px;
//     margin-bottom: 10px;
//     margin-left: 10px;
// }

// .active {
//     background-color: #ffcc00 !important;
//     @extend .carouselDots !optional;
// }

// .inactive {
//     background-color: #f2f2f2;
//     @extend .carouselDots !optional;

// }
// .dotList{
//     bottom: 65px !important;
// }
// .react-multi-carousel-item {
//     height: 600px !important;
// }

// /* 
//   ##Device = Desktops
//   ##Screen = 2560px to higher resolution desktops
// */

// @media (min-width: 2559px) {

//     /* CSS */
//     .tripBox {
//         margin-right: 900px !important;
//     }

//     .cardContentResponsive {
//         margin-left: 285px !important;
//     }

//     // margin-left: 285px !important;

// }

// @media (min-width: 1400px) {

//     /* CSS */
//     .tripBox {
//         margin-right: 240px !important;
//     }

//     .cardContentResponsive {
//         margin-left: 150px !important;
//     }

//     // margin-left: 285px !important;

// }

// /* 
//     ##Device = Laptops, Desktops
//     ##Screen = B/w 1025px to 1280px
//   */

// @media (min-width: 1024px) and (max-width: 1280px) {

//     /* CSS */
//     .tripBox {
//         margin-right: 85px !important;
//     }
// }

// /* 
//     ##Device = Tablets, Ipads (portrait)
//     ##Screen = B/w 768px to 10
//   */

// @media (min-width: 768px) and (max-width: 10) {
//     .cardContentResponsive {
//         margin-left: 49px !important;
//     }

//     .tripBox {
//         margin-right: 85px !important;
//     }

//     .rating {
//         width: 333px !important;
//     }

//     .ratingBox {
//         width: 333px !important;
//     }

//     .tripAdvisor {
//         .title {
//             font-size: "14px" !important;
//         }
//     }

//     .title {
//         font-size: "14px" !important;
//     }

// }

// /* 
//     ##Device = Tablets, Ipads (landscape)
//     ##Screen = B/w 768px to 10
//   */

// @media (min-width: 768px) and (max-width: 970px) {

//     /* CSS */
//     .cardContentResponsive {
//         margin-left: 29px !important;
//         margin-top: 45px !important;
//     }

//     .tripBox {
//         margin-right: 0px !important;
//     }

// }

// /* 
//     ##Device = Low Resolution Tablets, Mobiles (Landscape)
//     ##Screen = B/w 481px to 767px
//   */

// @media (min-width: 481px) and (max-width: 767px) {

//     /* CSS */
//     .cardContentResponsive {
//         margin-left: 0 !important;
//     }

//     .ratingBox {
//         // width: 204px !important;
//         display: none !important;
//     }

//     .tripBox {
//         margin-right: 0px !important;
//         width: 244px;
//         height: 169px;
//     }

//     .tripAdvisor {
//         .title {
//             font-size: "14px" !important;
//         }
//     }
// }

// /* 
//     ##Device = Most of the Smartphones Mobiles (Portrait)
//     ##Screen = B/w 320px to 479px
//   */




// @media (min-width: 320px) and (max-width: 480px) {
//     .cardContentResponsive {
//         margin-left: 20px !important;
//         margin-top: 20px !important;
//     }

//     /* CSS */
//     .carSliderContainer {
//         position: relative;
//         margin-top: 56px;

//         .titleContainer {
//             max-width: 656px;
//             margin-top: 56px;

//             .title {
//                 font-family: Raleway;
//                 font-size: 24px;
//                 font-weight: 800;
//                 font-stretch: normal;
//                 font-style: normal;
//                 line-height: 1.25;
//                 letter-spacing: normal;
//                 text-align: left;
//                 color: #fff;
//             }
//         }

//         .caption {
//             font-family: Montserrat;
//             font-size: 14px;
//             font-weight: 500;
//             font-stretch: normal;
//             font-style: normal;
//             line-height: 1.5;
//             letter-spacing: normal;
//             text-align: left;
//             color: #fff;
//         }

//         .rating {
//             display: none !important;
//         }

//         .tripBox {
//             margin-top: 165px !important;
//             width: 270px;
//             height: 200px;
//             float: left;


//         }

//         .tripAdvisor {
//             &>div {
//                 padding: 0 !important;
//             }

//             p {
//                 font-family: Montserrat;
//                 font-size: 14px;
//                 font-weight: bold;
//                 font-stretch: normal;
//                 font-style: normal;
//                 line-height: 1.5;
//                 letter-spacing: normal;
//                 text-align: left;
//                 color: #fff;
//             }
//         }
//     }
// }

.carouselDots {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.active {
    background-color: #ffcc00 !important;
    @extend .carouselDots !optional;
}

.inactive {
    background-color: #f2f2f2;
    @extend .carouselDots !optional;

}
.dotList{
    bottom: 65px !important;
}

.mainContainerGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px,1fr));
    gap: 1.5rem;
    justify-items: center;
}

.containerFlex {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 15rem;
    position: absolute;
    bottom:8rem;
}

.headingStyle {
    display: block;
    max-width: 600px;
    margin: 0 !important;
    word-break: break-word;
    color: #fff;
}

.heading {
    font-size: 22px;
    font-weight: 800;
    font-family: Raleway;
    @extend .headingStyle !optional;
}

.subheading {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    @extend .headingStyle !optional;
}
.text{
    margin-bottom: 1rem;
    max-width: 326px;
}
/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px )  {
    .containerFlex{
        padding-left: 1rem;
        line-height: 1.25;
        bottom: 18rem;
    }
}
/*smartphones medium*/
@media (min-width:375px )  {
    .containerFlex{
        padding-left: 1rem;
        line-height: 1.25;
        bottom: 23rem;
    }
}


@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .containerFlex{
        padding-left: 1rem;
        line-height: 1.25;
        bottom: 1rem;
    }
}


@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .containerFlex{
        padding-left: 1rem;
        line-height: 1.25;
        bottom: 10rem;
    }
}

@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .containerFlex{
        padding-left: 4rem;
        line-height: 1.25;
        bottom: 18rem;
    }
}

@media (min-width:1024px) {
    /* big landscape tablets, laptops, and desktops */
    .containerFlex{
        padding-left: 8rem;
        line-height: 1.25;
        bottom: 17rem;
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    .containerFlex{
        padding-left: 11rem;
        line-height: 1.25;
        bottom: 19rem;
    }
}