.footer{
    background-color: #3f3f3f !important;
    color: white !important;
}
.content{
    align-items: center;
    display: flex !important;
    flex-direction: column;
    padding: 2em 0em 2em 0em;
}
.footerText{
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
}