.footer{
    background-color: #3f3f3f !important;
}
.content{
    align-items: center;
    display: flex !important;
    flex-direction: column;
    padding: 2em 0em 2em 0em;
}
.footerText{
    text-align: center;
}