@import "./global.scss";
$blue: #2866ae;
.appBar{
    background-color: $blue !important; //change this to global var
}
.toolBar{
    padding-right: 0px !important;
    padding-left: 24px !important;
}
@media (max-width: 750px){
    .toolBar{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .logoContainer{
        flex: 30
    }
    .logoContainer{
        position: relative; 
        width: 222px; 
        height: 55px !important;
        padding-right: 0 !important;
    }
}
.menuLanguage{
    flex-grow: 0.3;
    height: 64px;
    display: flex;
    align-items: center;
}
.languageMenu{
    justify-content: center;
}
.flagBtn {
    font-size: 19px !important;
}
.headerOptions {
    display: flex;
    width: fill;
    margin-left: 20px;
    align-items: center;
}
.menuIcon{
    width: 2.3em;
    height: 2.3em;
    color: white !important;
}
.menuBtn {
    white-space: nowrap;
    color: white !important;
    flex-grow: 2;
    height: 64px;
}
.menuLeftHeader{
    display: flex;
    color: white !important;
}
@media (min-width: 600px){
    .menuLeftHeader{
        height: 64px;
    }
}
@media (max-width: 600px){
    .menuLeftHeader{
        height: 56px;
    }
}
.menuListItem{
    display: flex !important;
    justify-content: center !important;
}
.logoContainer{
    position: relative; 
    width: 222px; 
    height: 64px;
    padding-right: 3%;
}
.carsRateAccordionSummarysAcorddion{
    background-color: $blue !important;
    border: 0;
    color: white !important;
    padding: 0 !important;
    box-shadow: none !important;
}
.menuLeftContainer{
    width: 195px;
    box-sizing: 'border-box';
    background-color: $blue !important;
    color: white !important;
    align-items: center;
}

