@import "./global.scss";
$blue: #2866ae;

.appBar{
    background-color: $blue !important; //change this to global var
}
.languageMenu{
    justify-content: center;
}
.flagBtn .flag-icon {
    width: 1.2em;
    height: 1.2em;
}
.flagBtn{
    justify-content: flex-end !important;
}
.flagMenuItem{
    justify-content: center-end !important;
}
.lenguageName{
    margin-left: 6px;
}
.menuIcon{
    width: 2.3em;
    height: 2.3em;
    color: white !important;
}
.menuBtn {
    width: max-content;
    white-space: nowrap;
    color: white !important;
    margin: 0px 5px 0px 5px !important;
}
.menuLeftHeader{
    display: flex;
    color: white !important;
    width: 100%;
}
@media (min-width: 600px){
    .menuLeftHeader{
        height: 64px;
    }
}
@media (max-width: 600px){
    .menuLeftHeader{
        height: 56px;
    }
}
.menuListItem{
    display: flex !important;
    justify-content: center !important;
}

.headerOptions {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}
.logoContainer{
    position: relative; 
    width: 222px; 
    height: 40px;
}
@media (min-width: 900px){
    .logoContainer{
        padding-right: 3%;
        margin-left: 2em;
    }
}
@media (max-width: 900px){
    .logoContainer{
        flex-grow: 1;
    }
}
.carsRateAccordionSummarysAcorddion{
    background-color: $blue !important;
    border: 0;
    color: white !important;
    padding: 0 !important;
    box-shadow: none !important;
}


.menuLeftContainer{
    width: 200px;
    box-sizing: 'border-box';
    background-color: $blue !important;
    color: white !important;
    align-items: center;
}