.Container {
  position: initial;
  > button {
    &:hover {
      background-color: #c5c5c5;
    }
    &:hover::before {
      color: #f3f3f3;
    }
    &::before {
      color: #c5c5c5;
    }
    background-color: #f3f3f3;
  }
}
.itemClass {
  // border:2px solid red;
  > div {
    box-shadow: none !important;
  }
}

.sliderClass {
   
  box-shadow: none;
}

.dotListClass {
  // border:2px solid blue;
  box-shadow: none;
  margin: 1px 0;
  // border:2px solid #fff;
  // .react-multi-carousel-dot--active button{
  //   border: 2px solid red;
  // }
  
  .customDotList {
    position: absolute;
    bottom: 80px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    left: 0;
    right: 0;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    margin: 0;
    list-style: none;

    button {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      opacity: 1;
      padding: 5px 5px 5px 5px;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: background 0.5s;
      transition: background 0.5s;
      padding: 0;
      margin-left: 10px;
      outline: 0;
      cursor: pointer;
      background-color: #c4c4c4;

     
    }
    .active{
      background-color: #f2f2f2;
      border: none;
      margin-left:10px;
    }
  }

  .patito{
    // border: 2px solid red !important;
    >li{
      button{
        background-color: #f2f2f2;
        border: none;
        margin-left:10px;
      }
    }
  }

  .react-multi-carousel-dot button{
    border:2px solid blue;
  }

  // {
  //   .react-multi-carousel-dot--active  > button {
  //       background-color: #c4c4c4;
  //     }

  //     &:hover:active {
  //       background-color: #c4c4c4;
  //       border: none;
  //     }
  //     &:active {
       
  //     }
  //   }
}
